/* ----- Page Movie -----*/
.main-detail {
    padding-right: 100px;
    padding-top: 100px;
}
/*.main-content {
    /*width: 935px;
    float: left;
    background-color: olive;
}*/
.row {
    /*display: -ms-flexbox;    -ms-flex-wrap: wrap;*/
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
}
.col-4 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-8 {
    flex: 0 0 75%;
    max-width: 75%;
}
video {
    background-color: #323439;
}
.main-detail .desc-movie,
.main-detail .desc-synopsis {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}
.main-detail .col-4 li,
.main-detail .col-8 li {
    font-weight: 300;
    font-size: 13px;
    position: relative;
    text-align: justify;
    line-height: 1.8;
    color: #fff;
}
.main-detail .desc-movie li span::before {
    content: ":";
    position: absolute;
    top: 0;
    left: 100px;
}
.main-detail  h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}
.main-detail p{
    color: #fff;
}

/*Starring Movie*/
.starring-list-wrapper {
    position: relative;
    overflow: hidden;
    /*padding: 0 50px;*/
    margin-bottom: 50px;
    
}
.starring-list{
    display: flex;
    align-items: center;
    height: 200px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.starring-list-item {
    background-color: #9F1521;
    margin-right: 30px;
    position: relative;
}
.starring-list-item li {
    align-items: center;
    list-style: none;
}

.starring-list-item-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: all 1s ease-in-out;
}
.starring-list-item:hover .movie-list-item-title{
    opacity: 1;
}
.starring .arrow {
    font-size: 50px;
    position: absolute;
    top: 75px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}
.showtime .item {
    background-color: transparent;
}