/* ----- Page Movie -----*/
.main-detail {
<<<<<<< HEAD
    padding-right: 100px;
    padding-top: 100px;
}
/*.main-content {
    /*width: 935px;
    float: left;
    background-color: olive;
}*/
=======
    margin-left: 35px;
    margin-top:25px;
}
  
>>>>>>> mz
.row {
    /*display: -ms-flexbox;    -ms-flex-wrap: wrap;*/
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
}
<<<<<<< HEAD
=======
  
>>>>>>> mz
.col-4 {
    flex: 0 0 25%;
    max-width: 25%;
}
<<<<<<< HEAD

=======
  
>>>>>>> mz
.col-8 {
    flex: 0 0 75%;
    max-width: 75%;
}
<<<<<<< HEAD
video {
    background-color: #323439;
}
.main-detail .desc-movie,
.main-detail .desc-synopsis {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}
.main-detail .col-4 li,
.main-detail .col-8 li {
    font-weight: 300;
    font-size: 13px;
    position: relative;
    text-align: justify;
    line-height: 1.8;
    color: #fff;
}
.main-detail .desc-movie li span::before {
=======

.right-side{
    margin-top: 65px;
}
  
.desc-movie {
    list-style: none;
    padding: 0px;
    margin-top: 45px;
}

.desc-synopsis{
    margin-bottom: 50px;
}

.main-detail .col-8 li {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.as{
    margin-top: 5px;
}

.main-detail .col-4 li {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;

    line-height: 1.8;

    color: #E6E6E6;
}

/* .main-detail .desc-movie li span::before {
>>>>>>> mz
    content: ":";
    position: absolute;
    top: 0;
    left: 100px;
<<<<<<< HEAD
}
.main-detail  h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}
.main-detail p{
    color: #fff;
}

/*Starring Movie*/
.starring-list-wrapper {
    position: relative;
    overflow: hidden;
    /*padding: 0 50px;*/
    margin-bottom: 50px;
    
}
.starring-list{
    display: flex;
    align-items: center;
    height: 200px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.starring-list-item {
    background-color: #9F1521;
    margin-right: 30px;
    position: relative;
}
=======
} */

.main-detail h4 {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 30px;
    color: #E6E6E6;
    margin-bottom: 25px;
}

.main-detail p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
    width: 1055px;
    word-wrap: normal;
}

/* Breadcrumb */
.breadcrumb-sect {
    margin-left: 58px;
}
  
.breadcrumb-item a {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}


/* Main Content */
#movie-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 33px;
    color: #E6E6E6;
    margin-bottom: 31px;
}

.video-container {
    /* background-color: #323439; */
    width: 1055px;
    height: 593px;
    margin-bottom: 60px;
}

.main-detail  h4,
.main-detail p{
    color: #E6E6E6;
}

/*Starring Movie*/

.starring-list-wrapper {
    /* position: relative;
    overflow: hidden;
    padding: 0 50px; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.starring-list{
    display: flex;
    align-items: center;
    /* height: 200px; */
    /* transform: translateX(0);
    transition: all 1s ease-in-out; */
    /* margin-bottom: 50px; */
}

.starring-list-item {
    width: 150px;
    height: 260px;
    background: rgba(159, 21, 33, 0.8);
    margin-right: 30px;
    position: relative;
}

>>>>>>> mz
.starring-list-item li {
    align-items: center;
    list-style: none;
}

<<<<<<< HEAD
.starring-list-item-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: all 1s ease-in-out;
}
.starring-list-item:hover .movie-list-item-title{
    opacity: 1;
}
.starring .arrow {
=======
.starring-list-item ul{
    padding-left: 0px;
    margin-top: 7px;
}

.starring-list-item-img{
    width: 150px;
    height: 196px;
    object-fit: cover;
    /* transition: all 1s ease-in-out; */
}

/* .starring-list-item:hover .movie-list-item-title{
    opacity: 1;
} */

/* .starring{
>>>>>>> mz
    font-size: 50px;
    position: absolute;
    top: 75px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
<<<<<<< HEAD
}
.showtime .item {
    background-color: transparent;
}
=======
} */

.showtime .item {
    background-color: transparent;
}
>>>>>>> mz
