@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
}
h1,h2,h3,h4,h5  {
    color: #fff;
}
.navbar {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: fixed;
    color: #fff;

}
.navbar-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 ;
    
}

.logo-container{
    flex: 0;
}
.logo-container img{
    max-width: 100px;
}
.menu-container{
    flex: 6;
    
}
.menu-container  ul li{
    list-style: none;
    display: inline-block;
    margin:  0 20px;
    position: relative;
}

.menu-container  ul li :after{
    content: '';
    position: absolute;
    background: red;
}
/*.menu-list {
    display: flex;
    list-style: none;
}
.menu-list-item{
    margin-right: 30px;
}*/
.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-text-container svg{
    max-width: 20px;
}
.profile-text-container{
    margin: 0 20px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide {
    margin: 100px 0 0 0;
    height: 300px;   
}

.Container-Clearfix svg{
    max-width: 20px;
    color: #fff;
    position: sticky;
}
/*style for grid*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  
  .item {
    background-color: #323439;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    
  }
  .item1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  
  .item2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }
  
  .item3 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  
  .item4 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }
  .item ul li {
    text-align: center;
    margin: 10px 0;
    position: relative;
    display: inline-block;
    background-color: #525458;
    }

    .item ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    display: flow-root;
    }
    /*upcoming*/
    .movie-list-container{
        padding: 0 50px;
        margin-bottom: 50px;
    }
    .movie-list-title {
        color: #fff;
    }
    .movie-list-wrapper {
        position: relative;
        overflow: hidden;
    }
    .movie-list{
        display: flex;
        align-items: center;
        height: 400px;
        transform: translateX(0);
        transition: all 1s ease-in-out;
    }
    .movie-list-item {
        margin-right: 30px;
        position: relative;
    }
    .movie-list-item:hover .movie-list-item-img{
        transform: scale(1,1.1);
        margin: 0 30px;
        opacity: 0.5;
    }

    .movie-list-item-img{
        width: 300px;
        height: 400px;
        object-fit: cover;
        transition: all 1s ease-in-out;
    }
    .movie-list-item-title {
        background-color:transparent;
        color: #fff;
        align-items: center;
        padding: 0 5px;
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 50px;
        opacity: 0;
        transition: 1s all ease-in-out;
      }
      .movie-list-item:hover .movie-list-item-title{
        opacity: 1;
      }
    .arrow {
        font-size: 120px;
        position: absolute;
        top: 75px;
        right: 0;
        color: lightgray;
        opacity: 0.5;
        cursor: pointer;
    }
    /*Footer*/
    .footer{
        width: 100%;
        color: #fff;
        background-color: #323439;
    }
    .footer-container{
        display: flex;
        list-style: none;
    }
    .footer-container p {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 40px;
    }
    .footer-container li{
        list-style: none;
        margin: 10px;
    }
    .footer-menu-col1{
        flex: 1.5;
    }
    .footer-menu-col2{
        flex: 1;
    }
    .footer-menu-col3{
        flex: 1;
    }
    .footer-menu-col4{
        flex: 1;
    }
    .footer-menu-icon {
    display: flex;
    list-style: none;
    }

/* ----- Page Movie -----*/
.main-detail {
    padding-right: 100px;
    padding-top: 100px;
}
/*.main-content {
    /*width: 935px;
    float: left;
    background-color: olive;
}*/
.row {
    /*display: -ms-flexbox;    -ms-flex-wrap: wrap;*/
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
}
.col-4 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-8 {
    flex: 0 0 75%;
    max-width: 75%;
}
video {
    background-color: #323439;
}
.main-detail .desc-movie,
.main-detail .desc-synopsis {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}
.main-detail .col-4 li,
.main-detail .col-8 li {
    font-weight: 300;
    font-size: 13px;
    position: relative;
    text-align: justify;
    line-height: 1.8;
    color: #fff;
}
.main-detail .desc-movie li span::before {
    content: ":";
    position: absolute;
    top: 0;
    left: 100px;
}
.main-detail  h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}
.main-detail p{
    color: #fff;
}

/*Starring Movie*/
.starring-list-wrapper {
    position: relative;
    overflow: hidden;
    /*padding: 0 50px;*/
    margin-bottom: 50px;
    
}
.starring-list{
    display: flex;
    align-items: center;
    height: 200px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.starring-list-item {
    background-color: #9F1521;
    margin-right: 30px;
    position: relative;
}
.starring-list-item li {
    align-items: center;
    list-style: none;
}

.starring-list-item-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: all 1s ease-in-out;
}
.starring-list-item:hover .movie-list-item-title{
    opacity: 1;
}
.starring .arrow {
    font-size: 50px;
    position: absolute;
    top: 75px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}
.showtime .item {
    background-color: transparent;
}
/*page booking*/
.booking {
    padding: 100px 10px;
}

.booking .row .col-8 {
    width: 80%;
}
.seat {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .seat.selected {
    background-color: green;
  }
  
  .seat.sold {
    background-color: #fff;
  }
  
  .seat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  .seat:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
  }
  
  .showcase {
    background: rgba(0, 0, 0, 0.1);
    width: 80%;
    padding: 10px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  .showcase li small {
    margin-left: 2px;
  }
  
  .movie-row {
    display: flex;
    width: 80%;
  }
  
  .screen {
    text-align: center;
    background-color: #fff;
    height: 120px;
    width: 80%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
  
  p.text{
      margin: 5px 0;
      color: #fff;
  }
  
  p.text span{
      color: rgb(158, 248, 158);

  }

/*left and rigt page booking*/


